body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #005f73;
    color: #CA6702;
    text-align: center;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005f73;
    padding: 1rem;
}

.navbar .logo {
    color: #CA6702;
    font-size: 24px; /* Font size */
    font-weight: bold; /* Bold font weight */
    font-family: 'Mulish', sans-serif; /* Mulish font */
}

.navbar nav {
    flex-grow: 1; /* Take up remaining space */
    text-align: center; /* Center the nav items */
}

.navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    /* Use to adjust styling for each list item if needed */
}

.navbar nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.navbar .auth-links {
    text-align: right; /* Align content to the right */
}

.navbar .auth-links a {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.navbar .auth-links a:first-child {
    color: #CA6702; /* Color for Log In */
}

.navbar .auth-links a:last-child {
    color: #FFFFFF; /* Color for Sign Up */
}

.banner {
    background-color: #E9D8A6;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .quote {
    color: #0A9396; /* Color */
    font-family: 'Fredericka the Great', cursive; /* Fredericka the Great font */
    font-size: 40px; /* Font size */
    padding: 1rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Text shadow */
}

.banner .column img {
    width: 100%; /* Make the image fill its container */
    max-width: 600px; /* Set maximum width to prevent over-sizing */
    height: auto; /* Maintain aspect ratio */
}

.main {
    background-color: #E9D8A6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main img {
    max-width: 100%; /* Limit image width */
    max-height: 200px; /* Limit image height */
    display: block; /* Ensure image is centered */
    margin: 0 auto; /* Center horizontally */
}

.footer {
    background-color: #D2691E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.footer .social a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5rem;
}
